@model TravelApp.Platform.Models.UserAuthorization
@{
    ViewData["Title"] = "Авторизация";
}
<div class="text-center">
    <h1 class="display-4">Авторизация</h1>    
</div>
@if (!ViewData.ModelState.IsValid && ViewData.ModelState.ErrorCount > 0)
{
    <div asp-validation-summary="All" class="alert alert-danger"></div>
}
<form asp-controller="User" asp-action="Authorization" class="d-flex justify-content-center" style="height: 100vh;">
    <div class="form-group">

        <label class="control-label">Логин</label>
        <input asp-for="Email" class="form-control mb-3" />
        <span asp-validation-for="Email" class="text-danger d-block" style="min-height: 20px;"></span>

        <label class="control-label">Пароль</label>
        <input asp-for="Password" type="password" class="form-control mb-3" />
        <span asp-validation-for="Password" class="text-danger d-block" style="min-height: 20px;"></span>

        <input type="submit" value="Вход" class="btn btn-primary w-100" disabled/>

        <a asp-action="Registration">Зарегистрироваться</a>
    </div>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function () {
            var form = $("form");
            var submitButton = $("input[type=submit]");
            var validationSummary = $(".alert-danger");

            $.validator.setDefaults({
                ignore: [],
                errorClass: "is-invalid",
                validClass: "is-valid",
                errorPlacement: function (error, element) {
                    error.appendTo(element.next(".text-danger"));
                },

                onfocusout: false,
                onkeyup: false,
                onclick: false
            });

            form.removeData("validator");
            form.removeData("unobtrusiveValidation");
            $.validator.unobtrusive.parse(form);

            $(".text-danger").hide();
            submitButton.prop("disabled", false);

            var fieldInteractions = {};

            $("input").on("focus change", function () {
                var fieldName = $(this).attr("name");

                if (!fieldInteractions[fieldName]) {
                    fieldInteractions[fieldName] = true;

                    $(this).on("blur change", function () {
                        $(this).valid();
                        checkFormValidity();
                    });
                }
            });

            function checkFormValidity() {
                var formValid = true;

                $.each(fieldInteractions, function (fieldName, interacted) {
                    if (interacted) {
                        var field = $("[name='" + fieldName + "']");
                        if (!field.valid()) {
                            formValid = false;
                        }
                    }
                });

                submitButton.prop("disabled", !formValid);
            }
            form.on("submit", function (e) {

                var validator = form.validate();
                validator.form();

                if (!form.valid()) {
                    validationSummary.show();
                    e.preventDefault();
                }
            });
        });
    </script>
}