<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Attractions</title>
    <link href="https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/admin-layout.css" asp-append-version="true" />
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <!-- Контент + боковая панель -->
    <div class="content-wrapper">
        <!-- Боковая панель -->
        <nav id="sidebar">
            <h3>Меню</h3>
            <ul class="nav flex-column">
                <li class="nav-item"><a class="nav-link" href="#">Профиль</a></li>
                <li class="nav-item"><a class="nav-link" asp-area="Admin" asp-action="Index" asp-controller="City">Города</a></li>
                <li class="nav-item"><a class="nav-link" asp-area="Admin" asp-action="Index" asp-controller="Location">Места</a></li>
                <li class="nav-item"><a class="nav-link" asp-area="Admin" asp-action="Index" asp-controller="Feedback">Отзывы</a></li>
                <li class="nav-item"><a class="nav-link" asp-area="Admin" asp-action="Index" asp-controller="User">Пользователи</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Настройки</a></li>
                <li class="nav-item">
                    <form asp-controller="AdminPanel" asp-action="Logout" method="post" class="d-inline">
                        @Html.AntiForgeryToken()
                        <button type="submit" class="nav-link btn btn-link p-0" style="color: #0d6efd; text-decoration: none;">
                            Выход
                        </button>
                    </form>
                </li>
            </ul>
        </nav>

        <!-- Основной контент -->
        <main id="main">
            @RenderBody()
        </main>
    </div>

    <!-- Футер -->
    <footer class="border-top mb-0 footer text-muted background-gradient">
        <div class="container">
            <span class="cat">                 /\_/\
                ( o.o )
                 = ^ =
            </span>
            &copy; 2025 - Сайт выполнен в качестве задания на диссертацию
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>