html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.content-wrapper {
    flex: 1;
    display: flex;
    min-height: 0;
}

#sidebar {
    width: 250px;
    background-color: #f8f9fa;
    padding: 1rem;
}

#main {
    flex: 1;
    padding: 1rem;
    overflow-y: auto;
}

footer {
    background: linear-gradient(to right, #a2d4f5, #d2e5f3);
}

.cat {
    display: inline-block;
    font-family: monospace;
    white-space: pre;
}

button.nav-link {
    color: #0d6efd;
    background: none;
    border: none;
    padding: 0;
    font-size: 1rem;
    text-transform: none;
}

    button.nav-link:hover {
        text-decoration: underline;
        color: #0a58ca;
    }

    button.nav-link:focus {
        outline: none;
        box-shadow: none;
    }
