@{
    ViewData["Title"] = "Домашняя страница";
}
@model IEnumerable<TravelApp.API.Models.City>

<div class="top-content">
    <h1 class="kiwi-maru-regular text-center">Что делаем, куда  идем</h1>
    <img src="https://i.imgur.com/m7MQQu3.png" atl="Памятник Петру Первому" class="MainPicture" />
</div>

<div class="items text-center">
    <div class="item-center">
        <h2 class="kiwi-maru-regular text-center">
            Куда сходить
        </h2>
    </div>

    @foreach (var city in Model)
    {
        <div class="item">
            <a href="#">
                <img src="@city.PictureAtHomeLink" alt="@city.Title">
                <div class="centered">@city.Title</div>
            </a>
        </div>
    }

    <div class="item-center">
        <h2 class="kiwi-maru-regular text-center mt-5 mb-5">
            О нас
        </h2>
    </div>

</div>
<div class="img-container">
    <img src="https://imgur.com/zSp7onb.png" alt="Фон" />
    <div class="m-4 pb-4">
        <p>
            <b>Что делаем, куда идем – Ваш идеальный компаньон в мире путешествий!</b><br>
            Добро пожаловать на наш сайт, где мы предлагаем вам самые интересные идеи для незабываемых путешествий.
            Здесь вы найдете множество полезных статей, вдохновляющих видео, а также подробные путеводители по разным уголкам мира.<br>
            <br>
            Мы постоянно обновляем наш контент, чтобы предложить вам самые актуальные и необычные идеи для путешествий. Наша миссия –
            помочь вам открыть для себя новые удивительные места и культуры, а также сделать ваше путешествие максимально комфортным и
            безопасным.<br>
            <br>
            На сайте “Что делаем, куда идем” вы найдете информацию о:<br>
            <br>
        </p>
        <ul>
            <li>популярных туристических направлениях;</li>
            <li>необычных местах для путешествий;</li>
            <li>бюджетных вариантах путешествий;</li>
            <li>лучших способах передвижения по миру;</li>
            <li>культурных особенностях разных стран;</li>
            <li>и многое другое!</li>
        </ul>
    </div>
</div>